#hero {
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#featured {
    transform: translateY(-25%);
    margin-bottom: -5%;
}

ol {
    li {
        list-style-type: none;
        font-size: 1.3rem;

        span {
            font-size: 3rem;
            color: #ccc;
            margin-bottom: 5px;
            cursor: default;
        }
    }
}